{% extends "base.html" %}

{% block content %}
<h1>Добавить товар</h1>
<form method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Название товара" required>
    <textarea name="description" placeholder="Описание" required></textarea>
    <input type="number" step="0.01" name="price" placeholder="Цена" required>

    <label>Обложка (PNG, JPG):</label>
    <input type="file" name="cover" accept="image/*" required>

    <label>Файл товара (ZIP, PDF):</label>
    <input type="file" name="product_file" required>

    <button type="submit">Добавить товар</button>
</form>
{% endblock %}